<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group">
      <%= f.input :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :bio, as: :text, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>