<%= link_to 'New Post', new_post_path %>

<div class="container">
  <div id="posts" class="transitions-enabled">
    <% @posts.each do |post| %>
      <div class="box panel panel-default">
        <%= post.state %>
        <div class="panel-body">
          <p><%= post.header %></p>
          <p><strong><%= post.tag_line %></strong></p>
          <p><%= truncate(strip_tags(post.body), length: 80)%></p>
          <%= link_to 'Continue Reading', post %>
          <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
          <%= post.published_at %>
          <% if current_user.admin == true %>
            <%= link_to "Mark as unpublished", change_post_path(post, state: "unpublished"), method: :put %>
            <%= link_to "Mark as published", change_post_path(post, state: "published"), method: :put %>
          <% end %>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
(function()
{
 if( window.localStorage )
 {
   if( !localStorage.getItem('firstLoad') )
   {
     localStorage['firstLoad'] = true;
     window.location.reload();
   }
   else
     localStorage.removeItem('firstLoad');
 }
})();
 </script>